.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .avatar {
    margin-left: -5px;
    height: 30px;
    width: 30px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
