$color-primary: #db5940;
$color-success: #aadb4b;
$color-danger: #db3580;
$color-highlight: #1fdb8f;
$color-dark: #b02adb;
$color-light: #f7f7f9;
$color-gray: rgba(247, 247, 249, 0.6);
$color-dark-gray: rgba(247, 247, 249, 0.2);
$color-black: rgba(247, 247, 249, 0.1);
$color-white: #ffffff;
